body {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
    grid-template-rows: 1fr repeat(3, max-content) 1.1fr;
    align-content: start;
    text-align: center;
}
body > * {
    grid-column: 2;
}
* {
    font-family: "Roboto", "Helvetica", "Noto Sans JP", "Arial", sans-serif;
    line-height: 1;
}
.wide-none {
    display: none;
}
.narrow-show {
    display: none;
}
header {
    grid-row: 2;
}
main {
    grid-row: 3;
}
footer {
    grid-row: 4;
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
}
footer p {
    font-size: 0.9em;
    margin-right: 0.5em;
    margin-bottom: 0;
}
h1,
h2 {
    font-weight: 500;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}
h1 span {
    font-size: 0.75em;
    font-weight: 400;
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.6);
}
h2 {
    font-size: 1.6rem;
    margin: 1rem 0;
}
h2 span {
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.3;
}
p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.2;
}
button {
    font-weight: 500;
    width: 180px;
    justify-self: center;
}
.wrapper--button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper--button--result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6rem;
}
#spin_emoji {
    width: fit-content;
    margin: 2rem auto 3rem;
    font-size: 10rem;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    -ms-animation: spin 5s linear infinite;
    -o-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1023px) {
    body {
        grid-template-columns: 1fr 80vw 1fr;
    }
    .wide-none {
        display: block;
    }
    h1 {
        font-size: 2rem;
    }
    h1 span {
        margin-left: 0;
    }
    h2 {
        font-size: 1.3rem;
    }
    button {
        width: 240px;
    }
    .wrapper--button,
    .wrapper--button--result {
        margin: 0 auto;
        width: fit-content;
        flex-direction: column;
        gap: 0.6rem;
    }
}
@media screen and (max-width: 440px) {
    footer {
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
        row-gap: 0.4rem;
        justify-items: center;
    }
}
@media screen and (max-width: 360px) {
    .narrow-show {
        display: block;
    }
}
